<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-0" style="background:linear-gradient(40deg,#45cafc,#303f9f)!important">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['/home']">Home</a>
    <input class="form-control w-100" type="text" #pencarian (keyup)="0" type='text' placeholder='Search for...'aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" *ngIf="auth.login" href="/login" (click)="logout()">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/dashboard']">
                <span data-feather="file"></span>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashboard/vote']">
                Tambah vote
              </a>
            </li>
          </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Fadhel Ijlal Falah 2018</span>
      </h6>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

        <app-get-all [cari]="pencarian"></app-get-all>

      </main>
    </div>
  </div>
